/* variables in root element */

:root {
  --font-family-main: "Roboto Mono", monospace;
  --font-family-content: "Roboto Mono", monospace;
  --font-family-summary: "Roboto Mono", monospace;

  --dim-color: #88888844;

  --quote-text-color: #888;
  --code-background-color: #242424;
  --code-text-color: #f0efea;
}

:root[color-scheme^='light'] {
  --body-text-color: #222;
  --body-background-color: #f0efea;

  --primary-color: #CD5C5C;
  --selection-color: #f4aca7;
}

:root[color-scheme^='dark'] {
  --body-text-color: #f0efea;
  --body-background-color: #121212;

  --primary-color: #ff6f61;
  --selection-color: #89403b;
}

